.mainDiv {
    padding:20px;
    line-height:25px;
    width:30%;
    margin:0 auto;
    background-color:grey;
    text-align:center;
    font-size:x-large;
    color:white;
    border-radius:5px;
}
#flag{
    margin-top:10px;
    width:35px;
    height:20px;
}
